h1,
p,
h3,
h4 {
  font-family: Lato;
}
input {
  width: 100%;
  height: 48px;
}
.mainDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.createPost {
  display: flex;
  width: 100%;
}
.createPost form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.labelInput {
  display: flex;
  flex-direction: column;
}
.post {
  width: 100%;
  margin-bottom: 16px;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.informations {
  display: flex;
  margin: 8px;
  width: 100%;
  flex-direction: column;
}

.informations p {
  margin: 0px;
}

.informations h4 {
  margin: 0px;
}

.descricao {
  width: 95%;
  font-size: 14px;
  margin-top: 4px !important;
}
.hour {
  font-size: 14px;
  margin-top: 4px !important;
}

.local {
  font-size: 14px;
  margin-top: 4px !important;
}

.buttonRight {
  height: 40px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #388e3c;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-right: 8px;
  margin-bottom: 8px;
}

.buttonLeft {
  height: 40px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.buttonLeft p {
  color: #b71c1c;
}
.buttons {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;
}
